.nav-header {
  height: 93px;
}

.slider-container {
  position: relative;
  margin: auto;
}

.slider-img {
  height: 680px;
  background-color: #717171;
}

#subheader {
  height: 75px;
}

#super-footer-bro {
  height: 176px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.bro-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

.dreamer {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
}

.dreamer > * {
  color: white;
  z-index: 1000;
  font-weight: bold;
  display: block;
  outline: none;
  border: none;
  width: 28rem;
  transition: all 400ms;
}

.dreamer__top {
  background-color: rgb(85, 162, 166);
  padding: 15px 20px;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.dreamer__bottom {
  background-color: #515050;
  font-size: 4rem;

  padding: 15px 20px;
}